body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hd-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 100px;
}

.header-right {
    display: flex;
    width: 500px;
    justify-content: space-around;
}