body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hd-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 100px;
}

.header-right {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

.content-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 100px 100px;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 50px;
}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.buttom1, .buttom2 {
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    background-color: #3882f6;
    color: #F9FAF8;
    max-width: 150px;
    height: 40px;
}

.right {
    height: auto;
    width: 400px;
}

.content-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.inf-title {
    font-size: 36px;
    font-weight: 800;
    padding: 30px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 140px;
    text-align: center;
}

.square {
    border:3px solid #3882f6;
    border-radius: 8px;
    width: 130px;
    height: 130px;
}

.content-c {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 50px;
}

.quotes{
    max-width: 800px;
}

.quote {
    font-style: italic;
    font-size: 30px;
    text-align: left;
    margin: 0;
    color: #1F2937;
}

.quote-author {
    font-weight: bold;
    text-align: end;
}

.content-d {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #3882f6;
    max-width: 1000px;
    width: 100%;
    padding: 40px;
}

.msg-title {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

.msg-txt {
    color: #F9FAF8;
}

.buttom2 {
    border: 2px solid #F9FAF8;
    padding: 10px;
}
