body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hd-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 100px;
}

.header-right {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
}

.content-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 100px 100px;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 50px;
}

.main-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.buttom1 {
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    background-color: #3882f6;
    color: #F9FAF8;
    width: 150px;
    height: 40px;
}


